/*css reset*/
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul, img {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;

}


img {
    position: relative;
    right: 50%;
    max-width: 100%;
    width: 3.625rem;
    height: 4.175rem;
    top: 4.625rem;

}

.tips {
    color: green;
    position: absolute;
    left: 0;
    right: 0;
    top: 18.7rem;
    margin: auto;
    text-align: center;
    width: 12.6rem;
    cursor: pointer; 
}

.inputContainer1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 10.7rem;
    margin: auto;
    text-align: center;
    width: 12.6rem;
}

.inputContainer2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 13.5rem;
    margin: auto;
    text-align: center;
    width: 12.6rem;

}

.inputContainer4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 16.5rem;
    margin: auto;
    text-align: center;
    width: 12.6rem;

}

.inputContainer5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 19.5rem;
    margin: auto;
    text-align: left;
    width: 12.6rem;
}

#phone {
    font-size: 0.65rem;
    width: 12.1rem;
    height: 1.3rem;
    border: 0rem;
    border-bottom: solid 0.055rem;
    border-bottom-color: #b7b7b7;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}



hr {
    margin-top: 7px;
    *margin: 0;
    border: 0;
    color: #b7b7b7;
    background-color: #b7b7b7;
    height: 0.055rem
}

#passwd {
    font-size: 0.65rem;
    width: 12.1rem;
    height: 1.3rem;
    border: 0rem;
    border-bottom: solid 0.055rem;
    border-bottom-color: #b7b7b7;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

}

#passwd_confirm {
    font-size: 0.65rem;
    width: 12.1rem;
    height: 1.3rem;
    border: 0rem;
    border-bottom: solid 0.055rem;
    border-bottom-color: #b7b7b7;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

}

#code {
    font-size: 0.65rem;
    width: 6.1rem;
    height: 1.3rem;
    border: 0rem;
    border-bottom: solid 0.055rem;
    border-bottom-color: #b7b7b7;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#code_img {
    font-size: 0.65rem;
    width: 5.0rem;
    height: 1.5rem;
    border: 0rem;
    border-bottom: solid 0.055rem;
    border-bottom-color: #b7b7b7;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 13.6rem;
    margin-top: -11.75rem;
}

input:focus {
    color: #4cd964;
    text-shadow: 0px 0px 0px #333333;
    -webkit-text-fill-color: transparent;
    border-bottom-color: #4cd964;
}

::-webkit-input-placeholder {
    color: #b7b7b7;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

#login {
    font-size: 0.71rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 16.1rem;
    margin: auto;
    width: 13.4rem;
    height: 2.0rem;
    background-color: hwb(120 61% 38%);
    color: #ffffff;
    border-radius: 0.4rem;
    border: 0rem;
}

#register {
    font-size: 0.71rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 22.1rem;
    margin: auto;
    width: 13.4rem;
    height: 2.0rem;
    background-color: hwb(120 61% 38%);
    color: #ffffff;
    border-radius: 0.4rem;
    border: 0rem;
}

body {
    background-color: #ffffff;
}